*{
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

a{
  text-decoration: none;
}
.padre{
  display: flex;
  flex-flow: column nowrap;
}

.header{
  background: url(../imagenes/webdesign.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

.menu{
  background: rgba(0,0,0,.2);
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,.5);
}
    .logo{
      flex:1 1 auto;
    }
    .logo a{
      color:#fff;
      font-size: 30px;
    }
    .logo a:hover{
      color:#343434;
    }
    .WD{
      font-size: 15px;
    }
    .nav{
      flex:1 1 auto;
      }
    .nav a{
      color:#fff;
      font-size:15px;
      text-transform: uppercase;
      padding: 0 10px;
      letter-spacing: 2px;
    }
    .nav a:hover{
      color:#343434;
    }
    .social{
        display: flex;
        flex:1 1 auto;
    }
    .social a{
      font-size: 18px;
      color:#fff;
      padding: 0 5px;
    }
    .social a:hover{
      color:#343434;
    }
.texto-principal{
  background: #f07b3f;
}

h1{
  background: #ffd460;
}

.section{
  background-color: black;
  display: flex;
}
  .articulos{
  background: #4e4e6a;
  flex:2 1 auto;
  display:flex;
  flex-flow: row wrap;
}
    .article{
      background: #1f6cb0;
      flex:1 1 40%;
    }
    .navegacion{
      background: #70a3c4;
      flex:1 1 100%;
    }

.aside{
  background: #f73f52;
  flex:1 1 auto;
}
    .publicidad{
      background: #ffea85;
    }
.footer{
  background-color: black;
  display: flex;
  justify-content: center;
}
    .pie{
      background: #e6af2e;
      width: 300px;
    }

@media all and (max-width:948px){
  .section{
    flex-direction: column;
  }
  .menu{
    flex-direction: column;
    height: auto;
  }
  .aside{
    display: flex;
    justify-content: center;
  }
  h1{
    font-size:15px;
  }
  .textoprincipal{
    height: 450px;
  }
}

@media all and (max-width:762px){
  .articulos{
    flex-direction: column;
  }
}

@media all and (max-width:650px){
  .off{
    display: none;
  }
  img{
    width: 450px;
    height: 300px;
  }
}

@media all and (max-width:400px){
  .aside{
    flex-direction: column;
  }
  img{
    width: 250px;
    height: 100px;
  }
}

.texto-principal-curricullum{
  background: #f07b3f;
}

.foto{
  float: right;
  display:flex;
  height: 400px;
  width: 400px;
}

.bodycontacto{
  width: 400px;
  margin: auto;
  background-color: #E2ECEE;
}

.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

.contacto label{
    display: block; /* para sobreponer el label a la caja de texto */
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px;
}

.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none; /* Para no redimensionar */
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}

.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
    background: #e4f1f6;
}
.contacto input[type='submit']:hover{
    background: #edfcff;
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
}
